[Desktop Entry]
Version=1.0
Name=RealsenseCapture
Comment=Open the terminal and run the capture software
Exec=gnome-terminal -e "bash -c 'cd realsense_save_example;source venv/bin/activate;sleep 5; python main.py --save --interval 15 --threads 1 --visualise; echo \"Rebooting in 5 seconds\";sleep 5;sudo reboot;$SHELL'"
Icon=utilities-terminal
Terminal=false
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Type=Application
Categories=Application;
Name[en_GB]=RealsenseCapture